$color_back_default: #f8f9fa;
$color_font_default: #333;
$color_back_primary: #007bff;
$color_font_primary: #fff;
$color_back_secondary: #6610f2;
$color_font_secondary: #fff;
$color_back_tertiary: #fd7e14;
$color_font_tertiary: #fff;

$color_back_success: #28a745;
$color_font_success: #fff;
$color_back_info: #17a2b8;
$color_font_info: #fff;
$color_back_warning: #ffc107;
$color_font_warning: #fff;
$color_back_danger: #dc3545;
$color_font_danger: #fff;
